html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.profile-pictue
{
    height:350px;
    width:350px;
    object-fit:cover;
}
.avatar {
    height: 40px;
    height: 40px;
    object-fit: cover;
}

.gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa;
}


.input-custom {
    background-color: white;
}

.white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 100;
    font-size: 14px;
}

.back-button {
    background-color: hsl(52, 0%, 98%);
    font-weight: 700;
    color: black;
    margin-top: 50px;
}